RTVA_HOST=0.0.0.0
RTVA_PORT=8003
RTVA_ASR_BASE_URL=http://127.0.0.1:8000
RTVA_BERRY_BASE_URL=http://127.0.0.1:8082
RTVA_TTS_BASE_URL=http://127.0.0.1:8002
RTVA_ALLOWED_SAMPLE_RATES=[16000,24000,48000]
RTVA_MAX_SESSIONS=64
RTVA_CPU_WORKERS=4
RTVA_CPU_PENDING_JOBS=128
RTVA_HANDSHAKE_TIMEOUT_SECONDS=5
RTVA_SESSION_EVENT_QUEUE_SIZE=256
RTVA_SESSION_AUDIO_QUEUE_SIZE=64
RTVA_SESSION_ASR_QUEUE_SIZE=64
RTVA_SESSION_OUTBOUND_QUEUE_SIZE=256
RTVA_SESSION_AUDIO_QUEUE_MAX_SECONDS=3
RTVA_SESSION_OUTBOUND_QUEUE_MAX_BYTES=8388608
RTVA_BERRY_CLEANUP_TIMEOUT_SECONDS=120
RTVA_TTS_DRAIN_TIMEOUT_SECONDS=120
